.container {
    position: relative;
    width: 98vw;
    height: 800px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    position: relative;
    display: flex;
    width: 25%;
    height: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkslategray;
    border: rgb(90, 14, 14) solid 5px;
}

h1 {
position: absolute;
top: -27px;
color: rgb(93, 7, 7);
background-color: aquamarine;
width: 99%;
height: 50px;
border: rgb(22, 46, 93) solid 3px;
font-size: 40px;
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}